<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Wingify Tasks" verbose="1">
	<parameter name="browser" value="chrome"></parameter>
	<parameter name="URL"
		value="http://app.vwo.com/#/campaign/108/summary?token=eyJhY2NvdW50X2lkIjoxNTA3MzQsImV4cGVyaW1lbnRfaWQiOjEwOCwiY3JlYXRlZF9vbiI6MTQ0NDgxMjQ4MSwidHlwZSI6ImNhbXBhaWduIiwidmVyc2lvbiI6MSwiaGFzaCI6IjJmZjk3OTVjZTgwNmFmZjJiOTI5NDczMTc5YTBlODQxIn0="></parameter>
	<test name="selectElement">
		<classes>
			<class name="com.org.TestCases.SelectElementTest" />

		</classes>
	</test>

</suite>
